<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Member</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body class="flex justify-center">
    <div th:replace="navbar.html :: *"></div>
    <div class="w-2/3 pt-28">
      <header class="justify-between w-full flex">
        <h1 class="text-4xl font-semibold">Data Member</h1>
      </header>
      <main class="pt-5">
        <section>
          <table class="table-auto w-full text-base">
            <thead class="text-base uppercase bg-gray-100">
              <tr class="border-b-gray-200 border-b-2">
                <th class="py-4">No</th>
                <th>Nama</th>
                <th>Email</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr
                th:each="member, iterStat : ${memberList}"
                class="even:bg-gray-100"
              >
                <td
                  th:text="${(currentPage - 1) * 10 + iterStat.index + 1}"
                  class="py-4"
                ></td>
                <td th:text="${member.namaUser}"></td>
                <td th:text="${member.email}"></td>
                <td>
                  <a
                    th:href="@{/admin/member/edit/{id}(id=${member.idUser})}"
                    class="btn btn-primary text-blue-500 hover:text-blue-300"
                    >Edit</a
                  >
                </td>
              </tr>
              <tr th:if="${memberList.isEmpty()}">
                <td colspan="4">Tidak ada member.</td>
              </tr>
            </tbody>
          </table>
        </section>

        <!-- Pagination start -->
        <nav th:if="${pageCount > 1}" class="flex justify-end">
          <ul class="pagination-container flex text-lg">
            <li class="prev-btn">
              <a
                th:href="@{/admin/data-member(page=${currentPage} - 1)}"
                aria-label="Previous"
                th:class="${currentPage}==1 ? 'disabled' : null"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li
              th:each="i : ${#numbers.sequence(1, pageCount)}"
              class="pagination-link"
            >
              <a
                th:href="@{/admin/data-member(page=${i})}"
                th:text="${i}"
                th:class="${currentPage}==${i} ? 'disabled' : null"
              ></a>
            </li>
            <li class="next-btn">
              <a
                th:href="@{/admin/data-member(page=${currentPage} + 1)}"
                aria-label="Next"
                th:class="${currentPage}==${pageCount} ? 'disabled' : null"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- Pagination end -->
      </main>
    </div>
  </body>
</html>
