<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Aktivitas</title>
  </head>
  <body>
    <header>
      <h1 th:text="${aktivitas.judul}">Judul Aktivitas</h1>
    </header>
    <main>
      <section>
        <p>
          <strong>Tanggal Aktivitas:</strong>
          <span th:text="${aktivitas.tanggalAktivitas}"></span>
        </p>
        <p>
          <strong>Deskripsi:</strong>
          <span
            th:text="${aktivitas.deskripsi ?: 'Tidak ada deskripsi'}"
          ></span>
        </p>
        <p>
          <strong>Waktu Tempuh:</strong>
          <span th:text="${aktivitas.formattedWaktuTempuh}"></span>
        </p>
        <p>
          <strong>Jarak Tempuh:</strong>
          <span th:text="${aktivitas.jarakTempuh}"></span>
          <span th:text="${aktivitas.satuanJarak}"></span>
        </p>

        <h3>Foto Aktivitas</h3>
        <div th:if="${aktivitas.urlFoto.isEmpty()}">
          <p>Tidak ada foto.</p>
        </div>
        <div th:if="${!aktivitas.urlFoto.isEmpty()}">
          <ul>
            <li th:each="foto : ${aktivitas.urlFoto}">
              <img
                th:src="@{/uploads/aktivitas/{foto}(foto=${foto})}"
                alt="Foto Aktivitas"
                style="max-width: 300px"
              />
            </li>
          </ul>
        </div>
      </section>
      <a href="/aktivitas">Kembali ke Daftar Aktivitas</a>
    </main>
  </body>
</html>
