<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Webpage</title>
    <link rel="stylesheet" href="../static/index.css">
    
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
    </div>

    <div class="main">
        <div class="header">
            <div class="title">Tugas Besar PBW</div>
        </div>

        <div class="content">
            <p>Welcome to the simple webpage!</p>
            <br>
            <p>Hello World!</p>
        </div>
    </div>
</body>
</html>
