<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="navbar.html :: *"></div>
    <div
      class="min-h-screen bg-no-repeat bg-cover bg-[url('/assets/run-image2.jpg')] pt-20 relative flex flex-col justify-center items-center"
    >
      <div
        class="absolute inset-0 bg-black bg-opacity-20 backdrop-blur-sm"
      ></div>
      <div class="py-12 bg-white/15 text-center z-10 rounded-xl w-full">
        <h3
          class="text-orange-500 text-7xl font-bold z-10 drop-shadow-2xl mb-4"
        >
          Stravibe
        </h3>
        <p class="text-white text-4xl font-bold z-10 drop-shadow-xl">
          Run with your heart. The journey defines you.
        </p>
      </div>
    </div>
  </body>
</html>
