<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Webpage</title>
    <link rel="stylesheet" href="../static/login.css">
    
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </div>

    <div class="main">
        <div class="header">
            <div class="title">Tugas Besar PBW</div>
        </div>
        
        <div class="content">
            <p>Masukan email anda</p>
            <label></label>
            <input id="email" placeholder="email..." type="text">
            <p>Masukan password anda</p>
            <input id="password" placeholder="Password...." type="text">

            <input id="submit" type="submit" value="submit">
        </div>
    </div>
</body>
</html>
