<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Tambah Lomba</title>
  </head>
  <body>
    <header>
      <h1>Tambah Lomba</h1>
      <a href="/admin/lomba">Kembali ke Daftar Lomba</a>
    </header>
    <main>
      <form
        th:action="@{/admin/lomba/tambah}"
        method="post"
        th:object="${lomba}"
      >
        <div>
          <label>Nama Lomba</label>
          <input type="text" th:field="*{namaLomba}" required />
        </div>
        <div>
          <label>Deskripsi Lomba</label>
          <textarea th:field="*{deskripsiLomba}" required></textarea>
        </div>
        <div>
          <label>Tanggal Mulai</label>
          <input type="date" th:field="*{tanggalMulai}" required />
        </div>
        <div>
          <label>Tanggal Selesai</label>
          <input type="date" th:field="*{tanggalSelesai}" required />
        </div>
        <button type="submit">Simpan</button>
      </form>
    </main>
  </body>
</html>
