<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lomba Berlangsung</title>

    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body class="flex justify-center">
    <div th:replace="navbar.html :: *"></div>
    <div class="w-2/3 pt-28">
      <header class="mb-6">
        <h1 class="text-4xl font-semibold">Lomba Berlangsung</h1>
      </header>
      <main>
        <table class="table-auto w-full text-base">
          <thead class="text-base uppercase bg-gray-100">
            <tr>
              <th class="py-4">No</th>
              <th>Nama Lomba</th>
              <th>Deskripsi</th>
              <th>Tanggal Mulai</th>
              <th>Tanggal Selesai</th>
              <!-- <th>Status</th> -->
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr
              th:each="lomba, iterStat : ${lombaList}"
              class="even:bg-gray-100"
            >
              <td
                th:text="${(currentPage - 1) * 10 + iterStat.index + 1}"
                class="py-4"
              ></td>
              <td th:text="${lomba.namaLomba}"></td>
              <td th:text="${lomba.deskripsiLomba}"></td>
              <td th:text="${lomba.tanggalMulai}"></td>
              <td th:text="${lomba.tanggalSelesai}"></td>
              <!-- <td
                th:text="${lomba.statusMengikuti ? 'Sudah Mengikuti' : 'Belum Mengikuti'}"
              ></td> -->
              <td>
                <a
                  th:if="${!lomba.statusMengikuti}"
                  th:href="@{/member/lomba/{id}/pilih-aktivitas(id=${lomba.idLomba})}"
                  class="text-blue-500 hover:text-blue-300"
                >
                  Ikuti Lomba
                </a>
                <span th:if="${lomba.statusMengikuti}">Sudah Diikuti</span>
              </td>
            </tr>
            <tr th:if="${lombaList.isEmpty()}">
              <td colspan="7">Tidak ada lomba berlangsung.</td>
            </tr>
          </tbody>
        </table>

        <!-- Pagination -->

        <!-- Pagination start -->
        <nav th:if="${pageCount > 1}" class="flex justify-end">
          <ul class="pagination-container flex text-lg">
            <!-- Previous Button -->
            <li class="prev-btn">
              <a
                th:href="@{/member/lomba/berlangsung(page=${currentPage} - 1)}"
                aria-label="Previous"
                th:class="${currentPage}==1 ? 'disabled' : null"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- Page Numbers -->
            <li
              th:each="i : ${#numbers.sequence(1, pageCount)}"
              class="pagination-link"
            >
              <a
                th:href="@{/member/lomba/berlangsung(page=${i})}"
                th:text="${i}"
                th:class="${currentPage}==${i} ? 'disabled' : null"
              ></a>
            </li>

            <!-- Next Button -->
            <li class="next-btn">
              <a
                th:href="@{/member/lomba/berlangsung(page=${currentPage} + 1)}"
                aria-label="Next"
                th:class="${currentPage}==${pageCount} ? 'disabled' : null"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- Pagination end -->
      </main>
    </div>
  </body>
</html>
