<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Tambah Aktivitas</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="flex justify-center">
    <div class="w-2/3 pt-28">
      <h1 class="text-4xl font-semibold pb-5">Tambah Aktivitas</h1>
      <form
        th:action="@{/aktivitas/tambah}"
        th:object="${aktivitas}"
        method="post"
        enctype="multipart/form-data"
        class="grid grid-cols-2 gap-6"
      >
        <div>
          <label for="tanggalAktivitas" class="text-lg"
            >Tanggal Aktivitas:</label
          >
          <input
            type="date"
            id="tanggalAktivitas"
            th:field="*{tanggalAktivitas}"
            required
            class="block w-full input"
          />
        </div>
        <div>
          <label for="judul" class="text-lg">Judul:</label>
          <input
            type="text"
            id="judul"
            th:field="*{judul}"
            maxlength="255"
            required
            class="block w-full input"
          />
        </div>
        <div>
          <label for="deskripsi" class="text-lg">Deskripsi:</label>
          <textarea
            id="deskripsi"
            th:field="*{deskripsi}"
            class="input block w-full h-32"
          ></textarea>
        </div>
        <div>
          <label for="jam" class="text-lg"
            >Waktu Tempuh (Jam:Menit:Detik):</label
          >
          <br />
          <input
            type="number"
            id="jam"
            name="jam"
            min="0"
            max="999"
            placeholder="Jam"
            value="0"
            class="input"
          />
          <input
            type="number"
            id="menit"
            name="menit"
            min="0"
            max="59"
            placeholder="Menit"
            value="0"
            class="input"
          />
          <input
            type="number"
            id="detik"
            name="detik"
            min="0"
            max="59"
            placeholder="Detik"
            value="0"
            required
            class="input"
          />
        </div>
        <div>
          <label for="jarakTempuh" class="text-lg">Jarak Tempuh:</label>
          <input
            type="number"
            id="jarakTempuh"
            th:field="*{jarakTempuh}"
            step="0.01"
            required
            class="input block w-full"
          />
        </div>
        <div>
          <label for="satuanJarak" class="text-lg">Satuan Jarak:</label>
          <select
            id="satuanJarak"
            th:field="*{satuanJarak}"
            required
            class="input block w-full"
          >
            <option value="km">Kilometer</option>
            <option value="m">Meter</option>
          </select>
        </div>

        <div>
          <label for="foto" class="text-lg">Unggah Foto:</label>
          <input
            type="file"
            id="foto"
            name="foto"
            accept="image/*"
            multiple
            class="input block"
          />
        </div>
        <div></div>
        <div class="flex justify-end col-[2/3]">
          <button
            type="submit"
            class="text-base font-semibold text-white bg-orange-500 px-3 py-2 hover:bg-orange-300 rounded-md w-fit"
          >
            Tambah
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
